<div>
<input name="value1" placeholder="Enter Value" id="value1" [(ngModel)]="Firstvalue">

<input name="value2" placeholder="Enter Value" id="value2" [(ngModel)]="Secondvalue">


<h1>{{title}}</h1>

<button type="button" class="btn btn-primary" (click)="add()">Addition</button>
<button type="button" class="btn btn-primary" (click)="sub()">Substraction</button>
<button type="button" class="btn btn-primary" (click)="multi()">Multiplication</button>
<button type="button" class="btn btn-primary" (click)="Div()">Division</button>

</div>